{
    files: {
        "/etc/nginx/conf.d/proxy.conf": {
            mode:    "000755",
            owner:   "root",
            group:   "root",
            content: "client_max_body_size 20M;\nproxy_read_timeout 180s;\nproxy_send_timeout 180s;proxy_set_header Upgrade $http_upgrade;\nproxy_set_header Connection \"upgrade\";\nproxy_set_header Host $http_host;"
        }
    }
}
