{
    "Resources": {
        "MyElastiCache":        {
            "Type":       "AWS::ElastiCache::CacheCluster",
            "Properties": {
                "CacheNodeType":       {
                    "Fn::GetOptionSetting": {
                        "OptionName":   "CacheNodeType",
                        "DefaultValue": "cache.t1.micro"
                    }
                },
                "NumCacheNodes":       {
                    "Fn::GetOptionSetting": {
                        "OptionName":   "NumCacheNodes",
                        "DefaultValue": "1"
                    }
                },
                "Engine":              {
                    "Fn::GetOptionSetting": {
                        "OptionName":   "Engine",
                        "DefaultValue": "redis"
                    }
                },
                "VpcSecurityGroupIds": [
                    {
                        "Fn::GetAtt": [
                            "MyCacheSecurityGroup",
                            "GroupId"
                        ]
                    }
                ]
            }
        },
        "MyCacheSecurityGroup": {
            "Type":       "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription":     "Lock cache down to webserver access only",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol":              "tcp",
                        "FromPort":                {
                            "Fn::GetOptionSetting": {
                                "OptionName":   "CachePort",
                                "DefaultValue": "6379"
                            }
                        },
                        "ToPort":                  {
                            "Fn::GetOptionSetting": {
                                "OptionName":   "CachePort",
                                "DefaultValue": "6379"
                            }
                        },
                        "SourceSecurityGroupName": {
                            "Ref": "AWSEBSecurityGroup"
                        }
                    }
                ]
            }
        }
    },
    "files":     {
        "/etc/cron.d/get_cluster_config":    {
            "content": "*/5 * * * * root /usr/local/bin/get_cluster_config",
            "mode":    "000644",
            "owner":   "root",
            "group":   "root"
        },
        "/usr/local/bin/get_cluster_config": {
            "content": {
                "Fn::Join": [
                    "",
                    [
                        "#! /bin/bash\n",
                        "aws elasticache describe-cache-clusters ",
                        "         --cache-cluster-id ", {"Ref": "MyElastiCache"},
                        "         --show-cache-node-info --region ", { "Ref": "AWS::Region" }, " > /tmp/cacheclusterconfig.json\n"
                    ]
                ]
            },
            "mode":    "000755",
            "owner":   "root",
            "group":   "root"
        }
    },
    "commands":  {
        "00-uninstall-default-cli" : {
            "command" : "yum remove -y aws-cli"
        },
        "01-install-aws-cli" : {
            "command" : "easy_install awscli"
        },
        "03-get-cluster-config" : {
            "command" : "/usr/local/bin/get_cluster_config"
        }
    }
}