{
    "files": {
        "/etc/cron.d/get_cluster_config" : {
            "content" : "*/5 * * * * root /usr/local/bin/get_cluster_config",
            "mode"    : "000644",
            "owner"   : "root",
            "group"   : "root"
        },
        "/usr/local/bin/get_cluster_config" : {
            "content" : { "Fn::Join" : ["", [
                "#! /bin/bash\n",
                "aws elasticache describe-cache-clusters ",
                "         --cache-cluster-id ", {"Ref" : "RedisCluster"},
                "         --show-cache-node-info --region ", { "Ref" : "AWS::Region" }, " > /tmp/cacheclusterconfig\n"
            ]]},
            "mode"    : "000755",
            "owner"   : "root",
            "group"   : "root"
        }
    },
    "commands" : {
        "00-get-cluster-config" : {
            "command" : "/usr/local/bin/get_cluster_config"
        }
    }
}