{
    files: {
        "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf": {
            mode:    "000644",
            owner:   "root",
            group:   "root",
            content: "location / {\nproxy_pass  http://nodejs;\nproxy_http_version 1.1;\nproxy_set_header Upgrade $http_upgrade;\nproxy_set_header Connection \"upgrade\";\nproxy_set_header Host $host;\nproxy_set_header X-Real-IP $remote_addr;\nproxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n}"
        }
    }
}
