{
    "commands": {
        "01-attach-volume": {
            "command": {
                "Fn::Join": [
                    "\n",
                    [
                        "/opt/aws/bin/ec2-attach-volume \"vol-3b4f323a\" -i $(/opt/aws/bin/ec2-metadata --instance-id | cut -c14-) -d /dev/sdf && ",
                        "mkdir -p /mnt/ebs-volume && ",
                        "sleep 30 && ",
                        "mount /dev/xvdf /mnt/ebs-volume && ",
                        "chown -R tomcat.tomcat /mnt/ebs-volume",
                        "fi"
                    ]
                ]
            }
        }
    }
}